<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- restaurant name -->
                <h1><i>{{restaurant.name}}</i></h1>
                <!-- restaurant desc -->
                <p class="pt-2"><i>{{restaurant.desc}}</i></p>
                <p class="pt-2"><i>{{restaurant.cuisine}}</i></p>
            </div> 
        </div>
    </div>
</section>
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-top">
                    <h3><span class="style-change">Meals List</span> </h3>
                </div>
            </div>
        </div>

        <div class="col-lg-12 row" *ngFor="let category of mealsGroupedByType | keyvalue">
            <div class="col-lg-12 section-top">
                <h3><span class="style-change">{{category.key}}</span> </h3>
            </div>
            <div (click)="addMeal(meal)" class="col-md-4 col-sm-6" *ngFor="let meal of category.value">
                <div class="single-food">
                    <div class="food-img">
                        <img src="assets/images/food4.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>{{meal.name}}</h5>
                        </div>
                        <p class="pt-4">Category: {{meal.type}}</p>
                        <p class="pt-8">Price: {{meal.price}} $</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>