








<section class="banner-area banner-area2 blog-bg text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1><i>Order Payment</i></h1>
          </div>
      </div>
  </div>
</section>
<section class="food-area section-padding">
  <div class="container">



      <!-- Modal HTML -->
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <div class="icon-box">
                <img src="../../assets/images/sign.png" alt="logo sign"  class="center">
              </div>
            </div>
            <div class="modal-body text-center">
              <p>Your Order has been confirmed successfully.</p>

              <button  (click)="goToHome($event)" class="btn btn-success" data-dismiss="modal"><span>Home Page</span></button>
            </div>
          </div>
        </div>






  </div>
</section>
<!-- Food Area End -->
