<!-- Header Area Starts -->
<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <h1><i>Our Resturants</i></h1>
                <p class="pt-2"><i>Choose from a list of resturants surrounding you</i></p>
            </div>
        </div>
    </div>
</section>
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3 class="style-change">Resturants List</h3>
                    <h5>Search For Restaurant : </h5><input type="text" (keyup)="sendit($event.target.value)" />

                </div>

            </div>
        </div>
            <div class="row">
                <div *ngFor="let restaurant of (restaurants | async)" class="col-md-4 col-sm-6">
                    <div (click)="navigate(restaurant)" class="single-food">
                        <div class="food-img">
                            <img src="assets/images/food1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="food-content">
                            <div class="d-flex justify-content-between">
                                <h5>{{restaurant.name}}</h5>
                            </div>
                            <p class="pt-3">{{restaurant.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Food Area End -->